<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja profilu</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<header class="header">
    <div class="header-left">
        <img src="/logo.png" alt="Logo koszykówki" class="logo">
        <h1 class="forum-title">Forum Koszykarskie</h1>
    </div>
    <div class="header-right">
        <a href="/main" class="login-button">Strona główna</a>
    </div>
</header>
<main class="main-content">
    <div class="form-card">
        <h2>Edycja profilu</h2>
        <form th:action="@{/edit-profile}" method="post">
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" th:value="${user.login}" required readonly>
            <label for="name">Imię:</label>
            <input type="text" id="name" name="name" th:value="${user.name}" required>
            <label for="surname">Nazwisko:</label>
            <input type="text" id="surname" name="surname" th:value="${user.surname}" required>
            <label for="password">Nowe hasło:</label>
            <input type="password" id="password" name="password">
            <button type="submit" class="add-topic-button">Zapisz zmiany</button>
        </form>
    </div>
</main>
<footer class="footer">
    <p>&copy; 2025 Forum Koszykarskie</p>
</footer>
</body>
</html>

